body,html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#canvas {
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
}

.description {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  padding: 10px;
  color: #777;
  font-size: .8em;
  width: 400px;
}

.credits {
  position: absolute;
  color: #777;
  right: 0;
  bottom: 0;
  font-size: .7em;
  padding: 10px;
}

.numbers {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px;
}

.numbers table td {
  width: 50px;
  height: 30px;
  vertical-align: middle;
  font-size: .6em;
  border-left: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  padding: 5px;
}

.numbers table {
  border-top: solid 1px #ddd;
  border-right: solid 1px #ddd;
}

.numbers table td.h {
  height: 20px;
  font-weight: bold;
}

.numbers table td.x {
  border-right: solid 3px #ddd;
}
